.App {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.button {
  text-align: end;
  padding: 5px;
  padding-bottom: 10px;
}

.head {
  text-align: center;
  background-color: hsl(208deg 79% 51%);
  padding-top: 0;
  margin-top: 0px;
  color: hsl(225deg 33% 95%);
}

h2 {
  margin: 0%;
  padding: 20px;
}
